body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.search-form {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
    font-size: 24px;
    color: #ffffff;
    background-color: #007bff79;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.photo-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.info {
    padding: 10px;
    background-color: #f0f0f0;
}

.info-item {
    margin: 0;
    font-size: 14px;
    color: #333333;
}

.load-more {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none
}

.search-btn {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}